.menu_cat{
     background-repeat: no-repeat;
     background-size: cover;
     background-size: cover;
     background-position: center;
     height: 50vh;
     text-align: center;
     align-content: center;
     margin: 1%;
}

.overlay_menu{
    background-color: rgba(0, 0, 0, 0.65);
    height: 50vh;
}

.menu_h2{
    color: white;
    align-content: center;
    margin: auto;
}

#menu_entrada{
    background-image: url(../imagenes/menu/ENTRADAS.png);
}


.precio{
    text-align: right;
}

.c_menu{
    margin: 1%;
}

.c_menu img{
    margin-top: 10px;
}

a{
    text-decoration: none;
}
